@import '../../../styles/variables.scss';

.input {
    border-radius: 15px;
    border: 1px solid #909090;
    background: #2E3030;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 400;
    width: 50%;
    margin-top: 10px;
    outline: none;
    margin-bottom: 20px;

    @media (max-width: $screen-lg) {
        width: 100%;
    }
}

.textarea {
    border-radius: 15px;
    border: 1px solid #909090;
    background: #2E3030;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 400;
    width: 50%;
    margin-top: 10px;
    outline: none;
    resize: none;

    @media (max-width: $screen-lg) {
        width: 100%;
    }
}

.fullname {
    margin-top: 15px;
}

.description {
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
    display: block;
}

.contact {
    margin-top: 70px;
    font-size: 24px;
    font-weight: 500;
}

.link {
    margin-bottom: 5px;
}

.link_name {
    margin-top: 15px;
}

.title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 30px;
}

.email {
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}

.add_teammate {
    padding-top: 20px;

    button {
        background-color: #81736B;
        border-radius: 1000px;
        padding: 10px 30px;
    }
}