@import '../../styles/variables';

.main {
    font-size: 50px;
    font-weight: 400;

    @media (max-width:$screen-xl) {
        font-size: 40px;
    }

    @media (max-width:$screen-sm) {
        font-size: 30px;
    }
}