// @import "constants/constans.scss";

.autocompleteField {
    position: relative;
    .autocompleteField_label {
        font-weight: 600;
        // color: $dark;
    }

    .autocompleteField_wrapper {
        display: block;
        grid-template-columns: max-content 1fr;
        border-radius: 10px;
        height: 48px;
        margin-top: 8px;
    }

    .autocompleteField_icon {
        display: none;
    }

    .autocompleteField_input {
        padding: 0 16px 0 12px;
        background-color: #2E3030;
        border: none;
        outline: none;
        padding: 10px;
        border-radius: 15px;
        border: 1px solid #909090;
        display: block;
        width: 100%;
        color: rgb(255, 255, 255);
        font-weight: 600;
        &::placeholder {
            font-weight: 400;
            color: white;
        }
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px white inset !important;
        }
        &:-webkit-autofill {
            -webkit-text-fill-color: black !important;
        }
    }

    .autocompleteField_dropdown {
        margin: 0;
        padding: 0;
        width: 100%;
        & > div {
            padding: 0;
            background-color: transparent;
        }
    }

    .autocompleteField_list{
        background-color: #fff;
        border: 1px solid #dfddde;
        border-radius: 10px;
        margin: 10px 0;
        max-height: 200px;
        overflow-y: scroll;
    }

    .autocompleteField_btn {
        text-align: left;
        padding: 7px 9px;
        width: 100%;
        font-size: 14px;
        & span{
            color: black;
            font-weight: 600;
            margin-right: 5px;
        }
        @media (any-hover: hover) {
            &:hover {
                background: #f1f1f1;
            }
        }
    }

    .autocompleteField_empty{
        padding: 32px 16px;
        text-align: center;
    }

    // on errors
    &.autocompleteField_invalid {
        .autocompleteField_wrapper {
            border-color: red;
        }
        .autocompleteField_icon {
            border-color: red;
            color: red;
        }

        .autocompleteField_input,
        .autocompleteField_input::placeholder {
            color: red;
        }
        .autocompleteField_message {
            display: block;
            margin-top: 8px;
            color: red;
            font-size:14px;
            font-weight: 400;
        }
    }
}
