@import '../../styles/variables';

.main {
    height: 100px;
    padding-top: 10px;
    position: absolute;
    width: 100%;
    z-index: 4;
}

.con {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 50px;
}

.logo {
    height: 100%;
    cursor: pointer;
    transform: scale(0.8);

    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    @media (max-width:$screen-xl) and (min-width:$screen-lg) {
        height: 80%;
    }

    @media (max-width:$screen-lg) and (min-width:$screen-sm) {
        height: 60px;
    }

    @media (max-width:$screen-sm) {
        height: 38px;
    }
}

.nav {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;

    @media (max-width:$screen-xl) and (min-width:$screen-lg) {
        gap: 50px;
    }

    @media (max-width:$screen-lg) and (min-width:$screen-sm) {
        position: absolute;
        top: 100%;
        right: 20px;
        display: block;
        background-color: #433933;
        padding: 25px 100px 25px 25px;
        border-radius: 15px;

        a {
            margin-bottom: 25px;
        }
    }


    @media (max-width:$screen-sm) {
        position: absolute;
        top: 100%;
        right: 50%;
        transform: translateX(50%);
        display: block;
        background-color: #433933;
        width: 90vw;
        padding: 25px;
        border-radius: 15px;

        a {
            margin-bottom: 25px;
            font-size: 18px;
        }
    }
}

.burger {
    display: none;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;

    @media (max-width:$screen-lg) {
        display: flex;
    }

    @media (max-width:$screen-sm) {
        height: 30px;
        width: 30px;

        img {
            height: 100%;
            width: 100%;
        }
    }
}

.hidden {
    @media (max-width:$screen-lg) {
        display: none;
    }
}

.notification {
    color: black;
    background-color: white;
    padding: 0 5px;
    border-radius: 100px;
    margin-left: 5px;
}